
.map-container {
    position: relative;
    height: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.map-container-with-sidebar {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

path {
    outline: none;
}

#fab {
    position: absolute;
    right: 5%;
    bottom: 5%;
}
