
.map-container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #DAE0E6;
}

.map-container-with-sidebar {
  border-radius: 0 10px 0 0;
}

path {
    outline: none;
}

#fab {
    position: absolute;
    right: 5%;
    bottom: 5%;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
}

#theme-button {
    position: absolute;
    left: 5%;
    bottom: 5%;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
}